transformers
accelerate
scipy
matplotlib
ipywidgets
sentencepiece
protobuf
peft
plotly
pandas
einops
safetensors
bitsandbytes
ninja
gradio
pydub
ffmpeg
openpyxl
voila
numpy
ipympl
jupyterlab_widgets
widgetsnbextension
